<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connection</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    ^$include:src/nav.html
    <div class="login_div">
        <h1>Connexion</h1>
        <form method="post">
            <ul class="ul_login">
                <li style="color: red;">^^message_erreur</li>
                <li>
                    <label for="user">Username</label><br>
                    <input name="user" id="user" type="text" autocomplete="none" value="">
                </li>
                <li>
                    <label for="pass">Password</label><br>
                    <input name="pass" id="pass" type="password" autocomplete="none" value="">
                </li>
                <div>
                    <input type="submit" name="submit" id="submit" value="Inscription">
                </div>
            </ul>

        </form>
    </div>
</body>
</html>