<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>Connextion</title>
    <link rel="stylesheet" href="../static/style.css"">
</head>
<body>
    ^$include:src/nav.html
    <div class="login_div">
        <h1>Inscription</h1>
        <form method="post">
            <ul class="ul_login">
                <li>^^message_erreur</li>

                <li>
                    <label for="email">Email</label> <br>
                    <input name="email" id="email" type="text" autocomplete="none" value="">
                </li>
                <li>
                    <label for="user">User  name</label><br>
                    <input name="user" id="user" type="text" autocomplete="none" value="">
                </li>
                <li>
                    <label for="pass">Password</label><br>
                    <input name="pass" id="pass" type="password" autocomplete="none" value="">
                </li>
                <div>
                    <input type="submit" name="submit" id="submit" value="Inscription">
                </div>
            </ul>
        </form>
    </div>
</body>
</html>