*{
    /* declaration variable couleur nigth*/
    --color_01 : rgb(0, 0, 0);
    --color_02 : rgb(43, 43, 43);
    --color_03 : rgb(54, 54, 54);

    --color_texte : rgb(255, 255, 255);

    /* basic reset css */
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-decoration: none;
}

h1{
    color: var(--color_texte);
}

a{
    color: var(--color_texte);
}

body{
    background-color: var(--color_01);
    color: var(--color_texte);
}

nav{
    background-color: var(--color_02);
    height: 70px;
    width: 100%;
}

nav>ul{
    padding-left: 5%;
    height: 90%;
    width: 95%;

    display: flex;
    align-items: center;
}

nav>ul>:nth-child(2){
    padding-left: 2%;
}

nav>ul>:nth-child(3){
    position: absolute;
    right: 5%;
}